@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 0 0 16px;
  padding: 0 0 9.6px;
  border-bottom: 1px solid #3d444db3;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 24px;
  margin: 24px 0 16px;
  padding: 0 0 7.2px;
  border-bottom: 1px solid #3d444db3;
  font-weight: 600;
  line-height: 1.25;
}

p {
  font-size: 16px;
  margin: 0 0 16px;
}
